html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 254, 252);
  color: rgb(117, 45, 45);
  width: 100vw;
  height: 500vh;
  font-family: 'Alegreya', serif;
}

@font-face {
  font-family: 'Voga';
  src: url('./Voga.otf');
}

.Title {
  height: 100vh;
}

.TitleAnchor {
  position: relative;
  top: 20vh;
  height: 0;
}

.TitleText {
  position: fixed;
  margin: 0;
  font-family: 'Voga', serif;
  font-size: 15vw;
  width: 100vw;
  top: 50vh;
  transform: translate(0%, -50%);
  text-align: center;
}

.TicketsContainer {
  position: fixed;
  height: 40%;
  width: 75%;
  top: 30%;
  left: 12.5%;
}
